/* Inserte su codigo aqui */
body {
	font-family: 'Roboto Mono', monospace;
}
#fondo {
	background: #FDF406;
	width: 100%;
	height: 500px;
	color: white;
}
.boton-sumate {
	width: 80px;
	height: 20px;
	background: #FAC302;
	margin-left: 100px;
	margin-top: 50px;
	padding: 10px auto;
}
.boton-sumate p {
	text-align: center;
	font-size: 10px;
	padding-top: 4px;
}
.boton-sumate a {
	text-decoration: none;
	color: white;
}
nav a {
	text-decoration: none;
	font-size: 10px;
	color: white;
}
nav ul {
	list-style-type: none;
}
nav li {
	display: inline;
	margin-left: 20px;
}
nav {
	margin-top: 20px;
	margin-left: 90px;
}
#titulo {
	text-align: center;
	margin-top: 40px;
}
#titulo h4 {
	margin-top: 0;
}
#titulo h1 {
	margin-bottom: 10px;
}
.imagen {
	margin-left: 66px;
	margin-top: 20px;
}
.boton-caja-uno {
	width: 100px;
	height: 30px;
	background-color: #FAC302;
}
 .fondo-foto {
 	background-color: white;
 	margin-top: 60px;
 	height: 560px;
 	float: left;
 }
 .fondo-cajas {
 	background-color: grey;	
 }
 .fondo-foto img {	
 	padding-top: 20px;
 	text-align: center;
 }
 .fondo-foto h2 {
 	padding-left: 10px;
 	font-size: 16px;
 }
 .fondo-foto p {
 	padding-left: 20px;
 	padding-right: 20px;
 	text-align: justify;
 	font-size: 12px;
 }
 .boton-caja-uno {
	margin-left: 160px;
	margin-top: 0;
	margin-bottom: 20px;
 }
 .boton-caja-uno p {
	text-align: center;
	margin-top: 10px;
 }
.boton-caja-uno a {
	text-decoration: none;
	color: white;
	padding-top: 10px;
}

#dos {
	margin-top: 0;
}
.botones-imagen p {
	height: 120px;
}
