/* Inserte su codigo aqui */
#fondo {
	background: #FDF406;
	width: 100%;
	height: 500px;
	color: white;
}
.boton-sumate {
	width: 80px;
	height: 20px;
	background: #FAC302;
	margin-left: 100px;
	margin-top: 50px;
	padding: 10px auto;
}
.boton-sumate p {
	text-align: center;
	font-size: 12px;
}
#menu li a {
	text-decoration: none;
}
#menu ul {
	display: inline;
}
#titulo {
	text-align: center;
	margin-top: 40px;
}
.fondo-foto .imagen {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	background-color: grey;
}
.imagen {
	margin-left: 66px;
	margin-top: 20px;
}
.boton-caja-uno {
	width: 100px;
	height: 30px;
	background-color: #FAC302;
	text-align: center;
}
 .fondo-foto {
 	background-color: white;
 }
 .fondo-cajas {
 	background-color: grey;	
 }